@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161b21;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  background-color: #161b21;
  color: white;
}

.main-content {
  background-color: #161b21;
  color: white;
}

.floating-dock {
  background-color: white;
  color: black;
}

.TableHead {
  color: #8b8b93;
}

.TableRow {
  border-bottom: 1px solid #e2e8f0;
}

.Card {
  background-color: pink;
}

.getStartedButton {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: #fff;
  transition: border-color 0.3s;
}

.getStartedButton:hover {
  border-color: #1d232c;
  background-color: #1d232c !important;
}

.border-radius-class {
  border-radius: 4px !important;
}

/* For Pie Charts, the colorss */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.adli-landing-body {
  font-family: "Montserrat", sans-serif;
  background-color: #d9dfdb;
}

/* Calendar Styles */
.shadcn-calendar {
  border: 0.5px solid #d3d3d3 !important;
  border-radius: 4px !important;
}

/* Calendar body styles */
.rdp-button_reset.rdp-button {
  border-color: #d3d3d3;
  color: black;
  border-radius: 4px;
}

/* Dates Hover effects */
.rdp-button_reset.rdp-button:hover {
  background-color: #d3d3d3;
  color: black;
  border-radius: 4px;
}

/* Selected Date styles */
.rdp-button_reset.rdp-button[aria-selected="true"] {
  background-color: #d3d3d3;
  color: black;
}

/* Schedule meeting button-mitchell */
.mitchell-schedule {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: 1px solid transparent;
}

.mitchell-schedule:hover {
  background-color: #292929;
  color: #ffffff;
  border-color: #ffffff;
}

/* torani's landing page */
.torani-landing-body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
}

.torani-schedule {
  background-color: #6e9489;
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
}

.torani-schedule:hover {
  background-color: #88b09c !important ;
  color: white;
}
